@import url('https://fonts.googleapis.com/css?family=Baumans&display=swap');



.sheetform .charactersheet button[type=roll].sheet-d6-dice::before {
    font-family: 'dicefontd6';
    content: 'F ';
}

.sheetform .charactersheet main {
	display: flex;
	flex-wrap: wrap;
}

.col2 {
	flex: 1 1 300px;
	padding: .5em;
}

.sheetform .charactersheet section *, header *{
	font-family: 'Baumans';
	/* color: #006a83; */
}

.sheetform .charactersheet input[type=text] {
	width: 100%
}

.row {
	margin: 0;
	display: flex;
}

.row label {
  flex-grow: 1;
	display: flex;
}

.row .input-label {
	margin: .2em 1em .2em .2em;
	width: auto;
	flex-grow: 0;
}

.row .number-label,.harm-label {
	margin: .2em 1em .2em .2em;
	width: auto;
	flex-grow: 0;
}

section.column-section {
	padding: .5em;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: column;
}
section.harm-section {
flex-direction: row;
}

section.column-section>div,
section.column-section>label {
	margin:0;
	padding:.2em;
	flex-grow: 1;
	border: 2px solid #214E9B;
	box-sizing: border-box;
	overflow: hidden;
}
section.harm-section .harm-box {
	width: 50%
}
section.column-section .column-label {
	width: 100%
}

.sheetform .charactersheet section .column-label {
	background-color: #214E9B;
	color: white;
	border: 2px solid #214E9B;
}

.harm-desc {
	margin: .2em .2em .2em .2em;
	width: auto;
	flex-grow: 0;
}
.row input[type=text] {
	flex-grow: 1;
}

table, table td,th {
	border-collapse: separate;
	padding:.2em;
}

table td input {
	border: none;
	text-align: center;
}

#attributes-table tr>:nth-child(n+2) {
	border: 2px solid #214E9B;
	border-top: 1px;
	text-align: center;
}

#attributes-table tr>:first-child {
	border: none;
	text-align: right;
}

#attributes-table tr>th:nth-child(n+2) {
	background-color: #214E9B;
	color: white;
	border: 2px solid #214E9B;
}

#attributes-table tr:last-child>td:nth-child(2) {
	border-bottom-left-radius: 10px;
}

#attributes-table tr:last-child>td:last-child {
	border-bottom-right-radius: 10px;
}

.repcontainer .repitem{
	display: flex;
}

/* nu_roller by cadera ---------------------------------------------------- */
#nu_roller {
  display: revert;
  padding: 0;
  position: relative;
  margin-top: 6pt;
}

#nu_roller[open] {
  border-radius: 5px;
  border: 1px solid #214E9B;
  background: transparent;
}

#nu_roller > summary {
  text-align: right; 
  margin-right: 5pt;
}

#nu_roller       > summary > .open   { display: none;         }
#nu_roller[open] > summary > .open   { display: inline-block; }
#nu_roller       > summary > .closed { display: inline-block; }
#nu_roller[open] > summary > .closed { display: none;         }

#nu_roller select.number_of_dice, 
#nu_roller select.number_of_dice option {
    font-family: "dicefontd6";
    font-size: 24pt;
}

#nu_roller select {
  height: 28pt;
  border: none;
  margin: 0;
  background: transparent;
}

#nu_roller div[id] { 
  display: inline-block;
}

#nu_roller #nu_roller_ability select,
#nu_roller #nu_roller_ability option { 
  font-size: 14pt;
}

#nu_roller #nu_roller_ability,
#nu_roller #nu_roller_ability select,
#nu_roller #nu_roller_ability label {
  width: 70pt;
}

#nu_roller label[for] {
  text-align: left;
  display: inline-block;
  font-weight: normal;
  font-size: 9pt;
  padding: 1pt;
  padding-left: 6pt;
  margin: 1pt;
}

#nu_roller button::before {
  content: '';
}

#nu_roller #nu_roller_number,
#nu_roller #nu_roller_number select,
#nu_roller #nu_roller_number input,
#nu_roller #nu_roller_number label {
  width: 100pt;
}

#nu_roller #nu_roller_advantage,
#nu_roller #nu_roller_advantage select,
#nu_roller #nu_roller_advantage input,
#nu_roller #nu_roller_advantage label {
  width: 80pt;
}

#nu_roller #nu_roller_disadvantage,
#nu_roller #nu_roller_disadvantage select,
#nu_roller #nu_roller_disadvantage input,
#nu_roller #nu_roller_disadvantage label {
  width: 80pt;
}

#nu_roller #nu_roller_bonus,
#nu_roller #nu_roller_bonus select,
#nu_roller #nu_roller_bonus input,
#nu_roller #nu_roller_bonus label {
  width: 80pt;
}

#nu_roller #nu_roller_adjust,
#nu_roller #nu_roller_adjust input,
#nu_roller #nu_roller_adjust label {
  width: 50pt;
}

#nu_roller #nu_roller_harm,
#nu_roller #nu_roller_harm select,
#nu_roller #nu_roller_harm #harm_dots_container,
#nu_roller #nu_roller_harm label {
  width: 120pt;
}

#nu_roller #nu_roller_harm #
#nu_roller #nu_roller_buttons,
#nu_roller #nu_roller_buttons button {
  width: 45pt;
}

#nu_roller #nu_roller_buttons button {
  vertical-align: top;
}

.roller_style_true {
  display: none; 
}

.roller_style_false {
  display: inline-block;
}

#nu_roller #nu_roller_preview {
  display: none;
}

#config_roller_preview[value="1"] ~ #everything #nu_roller_preview {
  display: block;
}

#nu_roller_preview,
#nu_roller_preview input {
  width: 100%;
  text-align: center;
}

#nu_roller_preview input.readonly {
  display: inline-block;
}

#nu_roller_preview input.editable {
  display: none;
}

#config_preview_editable[value="1"] ~ #everything #nu_roller_preview .readonly {
  display: none;
}

#config_preview_editable[value="1"] ~ #everything #nu_roller_preview .editable {
  display: inline-block;
}

/* configuration -------------------------------------------- */

#config { 
  display: none;
  border: 1pt solid black;
  padding: 1em 0.5em;
  border-radius: 5pt;
}

#config label {
  font-size: 11pt;
  font-weight: normal;
}

#show_config[value="1"] ~ #everything #config {
  display: block;
  color: black;
  background: white;
}

#config_dropdowns[value="1"] ~ #everything .roller_style_true {
  display: inline-block;
}

#config_dropdowns[value="1"] ~ #everything .roller_style_false {
  display: none;
}

div#config div {
  display: inline-block;
  width: 200pt;
}

#config div#preview_editable_toggle {
  display: none;
}

#config_roller_preview[value="1"] ~ #everything #config div#preview_editable_toggle { 
  display: inline-block; 
}

/* theming ------------------------------------------------------------ */

:root { 
  --theme-name:                "Default";
  --theme-background:          none;
  --theme-background-color:    white;
  --theme-header-background:   none;
  --theme-header-text-color:   black;
  --theme-title-background:    none;
  --theme-title-text-color:    black;
  --theme-title-height:        50pt;
  --theme-title-width:         100%;
  --theme-body-background:     none;
  --theme-body-text-color:     black;
  --theme-border-color:        black;
  --theme-second-border-color: black;
  --theme-subhead-background:  none;
  --theme-subhead-text-color:  none;
  --theme-base-font-size:      12pt;
  --theme-accent-color:        black;
  --theme-second-accent-color: black;
  --theme-button-text-color:   black;
}

.theme[value="1"] ~ #everything {
  --theme-name: "Second Theme";
}
.theme[value="2"] ~ #everything {
  --theme-name: "Second Theme";
}
.theme[value="3"] ~ #everything {
  --theme-name: "Second Theme";
}
.theme[value="4"] ~ #everything {
  --theme-name: "Second Theme";
}
.theme[value="5"] ~ #everything {
  --theme-name: "Second Theme";
}
.theme[value="6"] ~ #everything {
  --theme-name: "Second Theme";
}
.theme[value="7"] ~ #everything {
  --theme-name: "Second Theme";
}
.theme[value="8"] ~ #everything {
  --theme-name: "Second Theme";
}
.theme[value="9"] ~ #everything {
  --theme-name: "Second Theme";
}
.theme[value="10"] ~ #everything {
  --theme-name: "Second Theme";
}

.var-theme-name:before {
    content: var(--theme-name);
}

#theme_selector {
  border: none;
  width: 55pt;
  float: right;
  background: none;
}

#theme_selector button {
  border: none;
  background: none;
  color: white;
  font-family: "Pictos";
  font-size: 9pt;
  width: 12pt;
  padding: 0;
  margin: 0;
}

#everything {
  /* background-color: yellow; */
    background-image: url("https://img.itch.zone/aW1hZ2UvOTkzOTI5LzU2OTUwNjQuanBn/794x1000/vk5Gso.jpg");
    background-size: 100%, contain;
    margin: -20pt;
    padding: 15pt;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 5pt;
}

header h1 {
  color: white;
  font-size: 24pt;
  padding: 10pt;
  border-radius: 5pt;
  background-size: 100%;
  background-repeat: no-repeat;
}

main table#attributes-table tr:first-child td:first-child { 
  background: transparent;
}

#everything header section input[type~="text"],
#everything main section input[type~="text"],
main table td,
main section.harm-section > label,
main section.prep-section div {
  background-color: rgba(255, 255, 255, 0.75);
}


:is(
    .theme[value="0"], .theme[value="2"],  .theme[value="4"], .theme[value="6"],
    .theme[value="10"]
) ~ #everything 
{
  background: transparent;
}

:is(
    .theme[value="0"], .theme[value="2"],  .theme[value="4"], .theme[value="6"],
    .theme[value="10"]
   ) ~ #everything ~ .harm-box span,

:is(
    .theme[value="0"], .theme[value="2"],  .theme[value="4"], .theme[value="6"],
    .theme[value="10"]
   ) ~ #everything th:first-child,

:is( 
    .theme[value="0"], .theme[value="2"],  .theme[value="4"], .theme[value="6"],
    .theme[value="10"]
   ) ~  #everything summary,

:is( 
    .theme[value="0"], .theme[value="2"],  .theme[value="4"], .theme[value="6"],
    .theme[value="10"]
   ) ~  #everything #nu_roller :is( select, option, label, h2),

:is( 
    .theme[value="0"], .theme[value="2"],  .theme[value="4"], .theme[value="6"],
    .theme[value="10"]
   ) ~  #everything :is( .profile-section, .background-section) .row label span,

:is(    
    .theme[value="0"], .theme[value="2"],  .theme[value="4"], .theme[value="6"],
    .theme[value="10"]
   ) ~  #everything #theme_selector button,

:is( 
    .theme[value="0"], .theme[value="2"],  .theme[value="4"], .theme[value="6"],
    .theme[value="10"]
   ) ~ #everything button[type~="roll"],

:is( 
    .theme[value="0"], .theme[value="2"],  .theme[value="4"], .theme[value="6"],
    .theme[value="10"]
   ) ~ #everything h1 
{
  color: #214E9B;
}

:is(
  .theme[value="1"], .theme[value="3"], .theme[value="5"], .theme[value="7"],
  .theme[value="9"], .theme[value="11"]
  ) ~ #everything summary,

:is(
  .theme[value="1"], .theme[value="3"], .theme[value="5"], .theme[value="7"],
  .theme[value="9"], .theme[value="11"]
  ) ~ #everything #nu_roller :is(select, label),
    
:is(
  .theme[value="1"], .theme[value="3"], .theme[value="5"], .theme[value="7"],
  .theme[value="9"], .theme[value="11"]    
  ) ~ #everything :is( .profile-section, .background-section ) div label,
                      
:is(  
  .theme[value="1"], .theme[value="3"], .theme[value="5"], .theme[value="7"],
  .theme[value="9"], .theme[value="11"]
  ) ~ #everything section.attributes-section table th,

:is(
  .theme[value="1"], .theme[value="3"], .theme[value="5"], .theme[value="7"],
  .theme[value="9"], .theme[value="11"]
  ) ~ #everything :is( h1, h2)  
{
  color: white;
  text-shadow: 0 0 2pt #214E9B;
}

:is(
  .theme[value="1"], .theme[value="3"], .theme[value="5"], .theme[value="7"],
  .theme[value="9"]
 ) ~ #everything #nu_roller[open],
 
:is(
  .theme[value="1"], .theme[value="3"], .theme[value="5"], .theme[value="7"],
  .theme[value="9"]
  ) ~ #everything section.attributes-section tr:first-child th,

:is(
  .theme[value="1"], .theme[value="3"], .theme[value="5"], .theme[value="7"],
  .theme[value="9"]
  ) ~ #everything section .column-label
{
  background-color: rgba(0, 0, 0, 0.5);
}

:is(
  .theme[value="1"], .theme[value="3"], .theme[value="5"], .theme[value="7"],
  .theme[value="9"]
  ) ~ #everything #nu_roller option
{ color: black; }

:is(
  .theme[value="1"], .theme[value="3"], .theme[value="5"], .theme[value="7"],
  .theme[value="9"]
  ) ~ #everything section.attributes-section table,
    
:is(
  .theme[value="1"], .theme[value="3"], .theme[value="5"], .theme[value="7"],
  .theme[value="9"]
  ) ~ #everything section.column-section > :is(div, label),

:is(
  .theme[value="1"], .theme[value="3"], .theme[value="5"], .theme[value="7"],
  .theme[value="9"]
  ) ~ #everything #attributes-table tr>:nth-child(n+2),
 
:is(
  .theme[value="1"], .theme[value="3"], .theme[value="5"], .theme[value="7"],
  .theme[value="9"]
  ) ~ #everything section .column-label 
{
  border-color: black;
}

:is(
  .theme[value="1"], .theme[value="3"], .theme[value="5"], .theme[value="7"],
  .theme[value="9"]
  ) ~ #everything #nu_roller
{ border-color: white; }

:is(
  .theme[value="1"], .theme[value="3"], .theme[value="5"], .theme[value="7"],
  .theme[value="9"], .theme[value="11"]
  ) ~ #everything h1 
{
  padding-bottom: 0;
}

:is(
  .theme[value="2"], .theme[value="4"], .theme[value="6"], 
  .theme[value="10"]
  ) ~ #everything #theme_selector button,

:is(
  .theme[value="2"], .theme[value="4"], .theme[value="6"],
  .theme[value="10"]
  ) ~ #everything h1
{
  color: white;
}

.theme[value="0"] #everything h1 {
  padding: 0;
}

:is( .theme[value="1"], .theme[value="7"])
~ #everything {
  background-image: url("https://img.itch.zone/aW1nLzU3MjE3MDIucG5n/original/mLdE%2FM.png");
  background-color: #214E9B;
  background-position: center -125pt;
}

.theme[value="2"] ~ #everything h1
{
  background-image: url("https://img.itch.zone/aW1nLzU3MjE3MDIucG5n/original/mLdE%2FM.png");
  background-position: center -260pt;
  text-shadow: 0 0 2pt #214E9B;
}

.theme[value="3"] ~ #everything {
  background-image: url("https://img.itch.zone/aW1hZ2UvOTkzOTI5LzU2OTUwNjEuanBn/794x1000/etvGu7.jpg");
  background-color: #cb410b;
}

.theme[value="3"] ~ #everything #theme_selector button 
{
  color: black;
}

.theme[value="4"] ~ #everything h1 
{
  background-image: url("https://img.itch.zone/aW1hZ2UvOTkzOTI5LzU2OTUwNjEuanBn/794x1000/etvGu7.jpg");
  background-position: center -180pt;
  text-shadow: 0 0 2pt #ff4500;
  border-color: #d2691e;
}

.theme[value="4"] ~ #everything #nu_roller[open]
{ background: #faf0be;
  border-color: #d2691e;
}

.theme[value="4"] ~ #everything section.column-section > :is(div, label),
.theme[value="4"] ~ #everything #attributes-table tr>:nth-child(n+2)
{ border-color: #faf0be;
}

.theme[value="4"] ~ #everything #nu_roller :is(select, option, label, button)
{ color: #cb410b; }

.theme[value="4"] ~ #everything #nu_roller summary,
.theme[value="4"] ~ #everything #attributes-table tr th,
.theme[value="4"] ~ #everything :is( .profile-section, .background-section) .row label span
{ color: black; }

.theme[value="4"] ~ #everything section .column-label,
.theme[value="4"] ~ #everything #attributes-table tr>th:nth-child(n+2) {
  border-color: #faf0be;
  background: linear-gradient(to right, #e9692c, #f94d00, #ffd800, #f7e98e, #ffa700, #ed872d, #d2691e);
}

.theme[value="5"] ~ #everything {
  background-image: url("https://img.itch.zone/aW1hZ2UvOTkzOTI5LzU2OTUwNjIuanBn/794x1000/BDd1HN.jpg"); 
}

.theme[value="6"] ~ #everything h1 {
  background-image: url("https://img.itch.zone/aW1hZ2UvOTkzOTI5LzU2OTUwNjIuanBn/794x1000/BDd1HN.jpg"); 
  background-position: center -30pt;
}

.theme[value="6"] ~ #everything section .column-label,
.theme[value="6"] ~ #everything #attributes-table tr>th:nth-child(n+2)
{ background: radial-gradient(circle, 
                            #0abab5,
                            #daa520,
                            #cb410b,
                            #8b0000,
                            #00008b
                             );    
}

:is( .theme[value="7"], .theme[value="8"], .theme[value="11"] ) ~ #everything h1 
{
  background-size: contain 100%;
  height: 160pt;
  width: 300pt;
  color: transparent;
  padding-top: 0;
  text-shadow: 0 0 0 transparent;
  background-image: url("https://img.itch.zone/aW1nLzU3MjE3MTUucG5n/original/yfCpBA.png");
  background-position: left -35pt;
}

.theme[value="8"] ~ #everything {
  background-color: #214E9B;
  color: white;
  font-size: 16pt;
  background-image: none;
}

.theme[value="8"] ~ #everything .harm-section .harm-box { width: 100%;
}
.theme[value="8"] ~ #everything #nu_roller
{ background: transparent; 
  border-color: transparent;
}

.theme[value="8"] ~ #everything #nu_roller[open]
{ background: white;
}

.theme[value="8"] ~ #everything #nu_roller summary
{ background: transparent;
  color: white;
  font-size: 16pt;
}

.theme[value="8"] ~ #everything #nu_roller[open] summary
{ background: transparent;
  color: #214E9B;
  font-size: 16pt;
}

.theme[value="8"] ~ #everything :is( .profile-section, .background-section) .row label span,
.theme[value="8"] ~ #verything #attributes-table th:first-child, 
.theme[value="8"] ~ #verything #attributes-table th:first-child
{ color: white;
  font-size: 16pt;
  background: transparent;
}

.theme[value="8"] ~ #everything input[name],
.theme[value="8"] ~ #everything button[name],
.theme[value="8"] ~ #everything #nu_roller :is(button, label, select, option) {
  background-color: white;
  color: #214E9B;
  font-size: 16pt;
}

.theme[value="8"] ~ #everything section.column-section > :is(div, label),
.theme[value="8"] ~ #everything #attributes-table tr>:nth-child(n+2)
{ border-color: white;
}


:is( .theme[value="9"], .theme[value="11"] ) ~ #everything {
  background-image: url("https://img.itch.zone/aW1hZ2UvOTkzOTI5LzU2OTUwNjQuanBn/794x1000/vk5Gso.jpg");
  background-color: rgba(128, 0, 128, 0.5);
  background-blend-mode: overlay;
}

.theme[value="10"] ~ #everything h1 {
  background-image: url("https://img.itch.zone/aW1hZ2UvOTkzOTI5LzU2OTUwNjQuanBn/794x1000/vk5Gso.jpg");
  background-position: center -90pt;
  text-shadow: 0 0 3pt #800080;
  border-color: #00ccFF;
}

.theme[value="10"] ~ #everything #nu_roller[open]
{ background: radial-gradient(circle, #f4bbff, #e7feff, white, #0fc0fc, #b0e0e6, #e0ffff, #e6e8fa, #dcd0ff);
  border-color: #800080;
}

.theme[value="10"] ~ #everything section.column-section > :is(div, label),
.theme[value="10"] ~ #everything #attributes-table tr>:nth-child(n+2)
{ border-color: #800080;
}

.theme[value="10"] ~ #everything #nu_roller summary,
.theme[value="10"] ~ #everything :is( .profile-section, .background-section) .row label span,
.theme[value="10"] ~ #verything #attributes-table th:first-child, 
.theme[value="10"] ~ #everything #nu_roller :is(select, option, label, button)
{ color: #800080; }

.theme[value="10"] ~ #everything #attributes-table tr:first-child th
{ color: white; }

.theme[value="10"] ~ #everything section .column-label,
.theme[value="10"] ~ #everything #attributes-table tr>th:nth-child(n+2) {
  border-color: #800080;
  background: linear-gradient(to right,
            #4b0082,
            #6a5acd,
            #6a5acd,
            #a4f4f9,
            #9400d3,
            #9400d3,
            #00008b,
            #bb00bb,
            #00008b,
            #4b0082);
}
