.sheet-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap:.5em;
}

.sheet-header
{
    grid-column: span 3;
}

.sheet-3col + .sheet-3col
{
    padding: 1em;
    border-left: solid;
}

/* fix textarea width because the default input width is overruled elsewhere */
.sheet-item textarea 
{
    width: 210px;
}

/* display or hide the name divs and type selector based on the isFixed checkbox status */

.sheet-isFixed:checked ~ .sheet-typeSelector,
.sheet-isFixed:checked ~ .sheet-editableSheet,
.sheet-isFixed:not(:checked) ~ .sheet-fixedSheet,
.sheet-fixedSheet .repcontrol
{
    display: none;
}

.sheet-isFixed:not(:checked) ~ .sheet-typeSelector,
.sheet-isFixed:not(:checked) ~ .sheet-editableSheet,
.sheet-isFixed:checked ~ .sheet-fixedSheet
{
    display: inline-block;
}

/* hide name divs if the type is break */

.sheet-isBreak:checked ~ .sheet-itemNameInput,
.sheet-isBreak:checked ~ .sheet-itemNameFixed
{
    display: none;
}

/* Style name if the type is header */

.sheet-isHeader:checked ~ .sheet-itemNameFixed,
.sheet-typeSelector[value="Header"] ~ .sheet-itemNameFixed
{
    font-size: 1.5em;
    font-weight: bold;
}

/* Style items */

.sheet-item {
    margin-bottom: 1em;
}

/* display the div for the current type */
.sheet-typeSelector[value="Break"] ~ .sheet-breakItem,
.sheet-typeSelector[value="Number"] ~ .sheet-numberItem,
.sheet-typeSelector[value="Number/Max"] ~ .sheet-numberMaxItem,
.sheet-typeSelector[value="Text"] ~ .sheet-textItem,
.sheet-typeSelector[value="Text Area"] ~ .sheet-textareaItem,
.sheet-typeSelector[value="Checkbox"] ~ .sheet-checkboxItem
{
    display: block;
}

/* hide all divs for other types */

.sheet-breakItem,
.sheet-numberItem,
.sheet-numberMaxItem,
.sheet-textItem,
.sheet-textareaItem,
.sheet-checkboxItem
{
    display: none;
}