.sheet-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap:.5em;
}

.sheet-header
{
    grid-column: span 3;
}

.sheet-3col + .sheet-3col
{
    padding: 1em;
    border-left: solid;
}

/* make the large divs into columns */
/*
.sheet-3col {
    width: 30%;
    padding: .5%;
    position: relative;
}

.sheet-3col + .sheet-3col:before {
    content: " ";
        display: inline-block;
        background: silver;
        height: 100px;
        width: .5%;
        position:absolute;
        left: -1%;
}
*/
/* fix textarea width because the default input width is overruled elsewhere */
.sheet-item textarea 
{
    width: 210px;
}

/* display or hide the name divs and type selector based on the isFixed checkbox status */

.sheet-isFixed:checked ~ .sheet-typeSelector,
.sheet-isFixed:checked ~ .sheet-editableSheet,
.sheet-isFixed:not(:checked) ~ .sheet-fixedSheet
{
    display: none;
}

.sheet-isFixed:not(:checked) ~ .sheet-typeSelector,
.sheet-isFixed:not(:checked) ~ .sheet-editableSheet,
.sheet-isFixed:checked ~ .sheet-fixedSheet
{
    display: inline-block;
}

/* hide name divs if the type is break */

.sheet-isBreak:checked ~ .sheet-itemNameInput,
.sheet-isBreak:checked ~ .sheet-itemNameFixed
{
    display: none;
}

/* Style name if the type is header */

.sheet-isHeader:checked ~ .sheet-itemNameFixed
{
    font-size: 1.5em;
    font-weight: bold;
}

/* display the div for the current type */

.sheet-isBreak:checked ~ .sheet-breakItem,
.sheet-isNumber:checked ~ .sheet-numberItem,
.sheet-isNumberMax:checked ~ .sheet-numberMaxItem,
.sheet-isText:checked ~ .sheet-textItem,
.sheet-isTextarea:checked ~ .sheet-textareaItem,
.sheet-isCheckbox:checked ~ .sheet-checkboxItem
{
    display: block;
}

/* hide all divs for other types */

.sheet-breakItem,
.sheet-numberItem,
.sheet-numberMaxItem,
.sheet-textItem,
.sheet-textareaItem,
.sheet-checkboxItem
{
    display: none;
}